services:
  web:
    image: nginx
    ports:
      - "80:80"
    environment:
      TZ: ${TIME_ZONE}
    volumes:
      - ./public:/var/www/html/public
      - ./app:/var/www/html/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    environment:
      TZ: ${TIME_ZONE}
    volumes:
      - ./public:/var/www/html/public
      - ./app:/var/www/html/app
      - ./docker/php/custom.ini:/usr/local/etc/php/conf.d/custom.ini

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      TZ: ${TIME_ZONE}
    ports: # for phpstorm
        - "3306:3306"
    command:
        - --character-set-server=utf8mb4
        - --collation-server=utf8mb4_general_ci
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
